<footer>
    <div class="contenedor_Footer">
        <div class="contenedor_Columnas">
            <div>
                <p><b>Correo 1: </b>omarllano@bookspace.lib.com</p>
                <p><b>Correo 2: </b>noracalle@bookspace.lib.com</p>
            </div>

            <div>
                <p><b>Dirección: </b>Quito, Ecuador. Av. 6 de Diciembre</p>
            </div>

            <div>
                <p><b>Teléfono 1: </b>+593 9 9861 1228</p>
                <p><b>Teléfono 2: </b>+593 9 9733 5201</p>
            </div>
        </div>

        <div class="contenedor_Copyr">
            <p>&copy; 2025 BookSpace. Todos los derechos reservados.</p>
            <p>Desarrollado por: Omar Llano y Nora Calle.</p>
        </div>
    </div>
</footer>